.container{
    background-color: darkgrey;
    padding: 10px;
    font-style: italic;
}

.btn-btn{
    background-color: blueviolet;
    color: white;
    border-radius: 10px;
    height: 40%;
    width: 30%
}